{% extends "base.html" %}
{% load static %}

{% block content %}
<div 
    x-data="{ 
        menuOpen: false, 
        basicSignInModal: false,
        basicSignUpModal: false,
        advanceSignInModal: false,
        advanceSignUpModal: false,
    }" 
    class="w-full"
    >
    <!-- start::Black overlay -->
    <div :class="menuOpen ? 'block' : 'hidden'" @click="menuOpen = false" class="fixed  inset-0 bg-white opacity-50 transition-opacity lg:hidden"></div>
    <!-- end::Black overlay -->
    {% include 'header.html' %}
        <div class="w-full flex flex-row">
            {% include "sidebar.html" %}
            <div class="h-screen w-full">
                <!-- Main content header -->
                    <main class="w-full px-4 h-full overflow-hidden ">
                        <h1>Dashboard</h1>
                    </main>		
                <!-- end Main content  -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}